<nav class="navbar bg-dark navbar-expand-lg">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">Tweeter</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%=  link_to "Home", root_path,  class:"nav-link"  %>
        </li>
         <li class="nav-item">
          <%=  link_to "Tweets", tweets_path,  class:"nav-link"  %>
        </li>
        <li class="nav-item">
          <%=  link_to "Twitter", twitter_accounts_path,  class:"nav-link"  %>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2">
        <% if Current.user %>
         <li class="nav-item" >
          <span class='navbar-text text-light d-flex mx-4'><%= link_to  Current.user.email, password_path %></span>
         </li>
         <li class="nav-item">
          <%= button_to "Logout", logout_path, method: :delete ,data: { turbo_confirm: 'Are you sure?' },class: 'btn btn-light'%>

         </li>
        <% else %>
         <li class="nav-item">
          <%= link_to "signUp", sign_up_path , class:"nav-link"%>
           </li>
           <li class="nav-item">
          <%= link_to "Login", sign_in_path, class:"nav-link"%>
           </li>
        <%end%>
       </ul>
    </div>
  </div>
</nav>