<!DOCTYPE html>
<html>
  <head>
    <title>Form</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'bootstrap.min', 'application', media: 'all' %>

    <%# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-image: url('/assets/pexels-photo-7130498.webp');background-repeat: no-repeat; background-size: cover; ">
  <%= render partial: "shared/navbar" %> 

   <% flash.each do |name, msg|%>
   <div class="alert alert-primary" role="alert">

  <%= msg %>
  </div>
  <% end %>
    <%= yield %>
    <%= javascript_include_tag 'bootstrap.bundle.min', 'application' %>

  </body>
</html>
